/* Main Page Title
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-title {
    text-align: left; 
    color: white;
    font-weight: bold;
    background-color: #212121; 
    padding: 1px 5px; 
    margin-top: -25px;
    margin-bottom: 0px;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.main-title h2 {
    margin-bottom: 20px;
}

.main-title p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.main-title .button-primary {
    margin-top: 10px;
    margin-left: 20px;
    background-color: black; 
    color: #95969A; 
    border: 2px solid #95969A;
    font-size: 24px;
    padding: 11px 10px; 
}

.main-title .button-primary:hover {
    color: #6bc7b6; 
    border-color: white;
}

/* Global Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    background-color: #212121;
    color: white;
    font-family: 'Lato', sans-serif; 
}

/* Page Title */
.title {
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Lato', sans-serif; 
}
.graph-container,
.table-container {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}

/* Tabs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#tabs {
    width: 100%;
}

.custom-tabs {
    background-color: #1E2130;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    height: fit-content;
    cursor: pointer;
    font-family: 'Lato', sans-serif; 
}

#Topic-Frequency-tab.custom-tab,
#Sentiment-Analysis-tab.custom-tab,
#Topic-Data-tab.custom-tab {
    background-color: #36454F;
    letter-spacing: 1px;
    color: white;
    font-family: 'Lato', sans-serif; 
    border: 0;
    border-bottom: #1E2130 solid 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 18px;
}

#Topic-Frequency-tab.custom-tab--selected,
#Sentiment-Analysis-tab.custom-tab--selected,
#Topic-Data-tab.custom-tab--selected {
    border-bottom: #91dfd2 solid 4px !important;
}

#Topic-Frequency-tab.custom-tab {
    margin-right: 3px;
}

#Sentiment-Analysis-tab.custom-tab,
#Topic-Data-tab.custom-tab {
    margin-left: 3px;
}

/* Dropdowns
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.Select-control {
    background-color: #white;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border: none;
    font-family: 'Lato', sans-serif; 
}

.Select-menu-outer {
    background-color: #white;
    color: black;
    border: none;
}

.Select-option {
    background-color: #white;
    color: black;
}

.Select-option:hover {
    background-color: #white;
    color: white;
}

/* Range Slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.rc-slider-track {
    background-color: #91dfd2;
}

.rc-slider-handle {
    border-color: #91dfd2;
}

.rc-slider-handle:hover {
    border-color: #6bc7b6;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    border-color: #6bc7b6;
    box-shadow: 0 0 0 5px #6bc7b6;
}

/* Topic Frequency Analysis
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#topic-frequency-graph {
    background-color: #212121;
}

/* Sentiment Shift Analysis
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#sentiment-analysis-graph {
    background-color: #212121;
}

/* Topic Data
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#topic-data-table .dash-table-container {
    font-size: 16px;
    font-family: 'Lato', sans-serif; 
    height: 600px;
    overflow-y: auto;
}

#topic-data-table .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table {
    --accent: #91dfd2;
    --hover: #6bc7b6;
    --text-color: white;
    --background-color: #111111;
    --alt-background-color: #212121;
    table-layout: fixed;
    width: 100%;
}

#topic-data-table .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table thead th {
    background-color: #111111; 
    color: white; 
    font-weight: bold; 
    font-size: 16px; 
    font-family: 'Lato', sans-serif;
}

#topic-data-table .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table tbody td {
    background-color: #111111; 
    color: white; 
    border: 1px solid #588A87; 
    text-align: left; 
    padding: 5px; 
    font-size: 14px; 
    font-family: 'Lato', sans-serif;
}

#topic-data-table .dash-table-container .dash-spreadsheet-container {
    overflow-x: auto;
}

/* Absolute Frequency/Normalized Frequency Tabs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.frequency-tabs {
    margin-bottom: 0;
}

#frequency-tabs .tab,
#sentiment-frequency-tabs .tab {
    background-color: #36454F;
    letter-spacing: 1px;
    color: white;
    font-weight: 600;
    border: 0;
    border-bottom: #1E2130 solid 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 18px;
    margin-right: 3px;
}

#frequency-tabs .tab--selected,
#sentiment-frequency-tabs .tab--selected {
    border-bottom: #91dfd2 solid 4px !important;
}

/* Background and Interpretation Pages
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#Background-tab.custom-tab,
#Interpretation-tab.custom-tab {
    background-color: #36454F;
    letter-spacing: 1px;
    color: white;
    font-family: 'Lato', sans-serif; 
    border: 0;
    border-bottom: #1E2130 solid 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 18px;
}

#Background-tab.custom-tab--selected,
#Interpretation-tab.custom-tab--selected {
    border-bottom: #91dfd2 solid 4px !important;
}

#Background-tab.custom-tab {
    margin-right: 3px;
}

#Interpretation-tab.custom-tab {
    margin-left: 3px;
}

.html-content {
    width: 100%;
    height: 500px;
}

li a {
    color: #e7decc;
    text-decoration: underline;
}

li a:hover {
    color: white;
    text-decoration: underline;
}

#sentiment-analysis-graph .gtitle {
    font-size: 24px !important;
    text-align: center !important;
}

.title-center {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 600px) {
    /* Adjust main title and Learn More button */
    .main-title {
        width: 100%;
        font-size: 20px;
    }
    .main-title h2 {
        margin-bottom: 10px;
    }
    .main-title p {
        font-size: 12px;
    }
    .main-title .button-primary {
        font-size: 14px;
        padding: 8px 12px;
    }

    /* Adjust graph and table sizes */
    #topic-frequency-graph,
    #sentiment-analysis-graph,
    #topic-data-table .dash-table-container {
        height: 400px;
    }

    /* Adjust dropdown and slider sizes */
    .Select-control,
    .rc-slider {
        font-size: 14px;
    }

    /* Adjust tab sizes */
    .custom-tabs,
    #frequency-tabs .tab,
    #sentiment-frequency-tabs .tab {
        font-size: 12px;
        height: auto;
        padding: 5px;
    }

    /* Adjust page titles and instructions */
    .title {
        margin-bottom: 10px;
        font-size: 16px;
        margin: 5px 0; 
        text-align: center;
    }

    .title + p {
        font-size: 12px;
        margin: 5px 0; 
        text-align: center;
        margin-top: 10px; 
    }

    /* Adjust visibility of elements that may overlap */
    .title + p,
    #page-content > .row {
        display: block; 
        padding: 0 15px; 
    }

    /* Adjust graph and table sizes */
    #topic-frequency-graph,
    #sentiment-analysis-graph,
    #topic-data-table .dash-table-container {
        height: 500px;
    }
    
    /* Adjust legend size */
    #topic-frequency-graph .legend .legenditem {
        font-size: 10px;
    }

    #topic-frequency-graph .legend .legenditem .legendtext {
        white-space: normal;
        line-height: 1.2;
    }
}